:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* not using red hat text so that it doesnt need to import */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none; /* idk what this is, ai told me to add this for compatibility
  */ text-rendering: optimizeLegibility; /* I HATE OPTIMIZE SPELT WITH A Z, (i use australian english btw) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow:hidden;
}
h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  font-family:inherit;
  cursor:pointer;
}
button:focus,
button:focus-visible {
  outline: 2px solid #646cff;
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213537; /* i just magicked these numbers out of nowhere - its actually a half decent coloUr (colour is spelt with a U just so you know)*/
    background-color: #ffffff
  }
  a:hover {
    color: #747bff;
  }
}


:root:not(.dark) {
  color-scheme: light;
  color: #213547; /* this color isnt actually bad it fits nicely */
  background-color: #ffffff/* CSS ACCEPT COLOUR AS A SPELLING */;
}
:root:not(.dark) a:hover {
  color:#747bff; /* my bff colour
   sorry... the line above is a bit cringe */
}
.dark a:hover {
  color:#535bf2;
}